/* Général Site */

* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'inria sans';
}

h2 {
    font-size: 55px;
}

/* Version ordinateur */

/* Header */
/* En-tête */

/* général */
div.en-tete {
    background: rgba(238, 238, 238, 0.59);
    padding: 5px;
    width: 95%;
    margin-left: 2%;
}

/* logo */
.logo-geovast3d {
    width: 70px;
    margin-left: 70px;
}

/* navivation menu */
nav {
    display: flex;
    justify-content: space-around;
}

ul.barre-navigation {
    list-style-type: none;
    margin-left: 160px;
}

li {
    margin-right: 40px;
}

li>a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

li>a:hover {
    color: rgb(220, 42, 42);
}

.barre-navigation {
    display: flex;
    justify-content: space-between;
}

/* Fin navigation menu */

/* button contactez-nous */
button.contact {
    background: rgb(186, 34, 34);
    border-radius: 30px;
    border: none;
    width: 100px;
    height: 12%;
    margin-top: 4px;
}

button>a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: 'inria sans';
}

button:hover {
    background: rgb(252, 97, 97);
    border: none;
}

/* Fin button contactez-nous */

/* Fin en-tête */
/* Fin header */

/* Début Main */
/* Section Arc de triomphe */

/* Arc de triomphe 3D */
div.section-arc-triomphe {
    display: flex;
}

.arc-triomphe {
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
}

.title-arc-triomphe {
    text-align: left;
    margin-right: 60px;
    margin-top: 310px;
}

/* fin arc de triomphe 3D */

/* Arc de triomphe Mesh */
.title-arc-triomphe-mesh {
    text-align: right;
    margin-top: 270px;
    margin-left: 250px;
}

.arc-triomphe-mesh {
    width: 40%;
    margin-left: 140px;
    margin-top: 50px;
}

/* Fin section Arc de triomphe */

/* Vidéo - Visionnage dans un relevé 3D*/
div.video {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.video>img {
    width: 100%;
}

.title-video {
    margin-top: 400px;
}

/* Fin vidéo */

/* Section Colisée */
div.gray-background {
    background: #2B2B2B;
    margin-top: 400px;
}

div.img-colisee {
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 150px 0px;
}

div>img.colisee {
    width: 60%;
}

div.text{
    z-index: 1;
    position: absolute;
    margin: 0 auto;
}

.subtitle {
    float: right;
    position: absolute;
    left: 970px;
}

.subtitle2 {
    float: left;
    position: absolute;
    left: 124px;
}

.subtitle3{
    float: left;
    position: absolute;
    left: -115px;
}

.subtitle4{
    float: right;
    position: absolute;
    left: 885px;
}